# This file contains common pin mappings for the BigTreeTech Octopus
# and Octopus Pro boards. To use this config, start by identifying the
# micro-controller on the board - it may be an STM32F446, STM32F429,
# or an STM32H723.  Select the appropriate micro-controller in "make
# menuconfig" and select "Enable low-level configuration options". For
# STM32F446 boards the firmware should be compiled with a "32KiB
# bootloader" and a "12MHz crystal" clock reference. For STM32F429
# boards use a "32KiB bootloader" and an "8MHz crystal". For STM32H723
# boards use a "128KiB bootloader" and a "25Mhz crystal".

# See docs/Config_Reference.md for a description of parameters.
[include ebb42.cfg]
[include options/probe/probe.cfg]
[include mainsail.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
[include my-macros.cfg]
[include sovol-macros.cfg]
[include gradual_cooling.cfg]
[include shell_command.cfg]
[include misc.cfg]
#[include klipperExpander.cfg]

[include options/lcd/*.cfg]
[include stable_z_home.cfg]
[include z_calibration.cfg]

[include steppers.cfg]
[include led_breath.cfg]

[mcu]
canbus_uuid: 601da66c860b

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 40000
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: my_thermistor
max_power: 1.0
min_temp: 5
max_temp: 112
pwm_cycle_time: 0.01666667

[verify_heater heater_bed]
max_error: 120
check_gain_time:40
hysteresis: 5
heating_gain: 2

[multi_pin octopus_fan_pins]
pins: PA8, PE5

[controller_fan Stepper_Fans]
pin: multi_pin: octopus_fan_pins
stepper: stepper_x, stepper_y, stepper_z
heater:

[led main_led]
white_pin: PD15
cycle_time: 0.010
hardware_pwm: True
initial_WHITE: 1.0

[idle_timeout]
timeout: 600
gcode:
  {% if printer.pause_resume.is_paused %}
    M118 Idle timeout while paused, turning off hotend
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  {% else %}
    M118 Idle timeout, turning off heaters and disabling steppers
    TURN_OFF_HEATERS
    M84
  {% endif %}

[temperature_sensor MCU]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor EBB_MCU]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[pause_resume]

[exclude_object]

[skew_correction]

[gcode_arcs]
resolution: 1.0

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 54.0 # max_accel=8600
shaper_type_y = mzv
shaper_freq_y = 37.4 # max_accel=4100

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 19.054
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.808
#*# pid_ki = 3.249
#*# pid_kd = 323.230
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.033
#*# pid_ki = 1.140
#*# pid_kd = 97.012
#*#
#*# [stepper_z]
#*# position_endstop = 2.3702
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = -0.0021264555348794543
#*# xz_skew = 0.0
#*# yz_skew = 0.0
