# This file contains common pin mappings for the BigTreeTech Octopus
# and Octopus Pro boards. To use this config, start by identifying the
# micro-controller on the board - it may be an STM32F446, STM32F429,
# or an STM32H723.  Select the appropriate micro-controller in "make
# menuconfig" and select "Enable low-level configuration options". For
# STM32F446 boards the firmware should be compiled with a "32KiB
# bootloader" and a "12MHz crystal" clock reference. For STM32F429
# boards use a "32KiB bootloader" and an "8MHz crystal". For STM32H723
# boards use a "128KiB bootloader" and a "25Mhz crystal".

# See docs/Config_Reference.md for a description of parameters.
[include ebb42.cfg]
[include options/probe/probe.cfg]
[include mainsail.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
[include my-macros.cfg]
[include sovol-macros.cfg]
[include gradual_cooling.cfg]
[include shell_command.cfg]
[include misc.cfg]
#[include klipperExpander.cfg]

[include options/lcd/*.cfg]
[include stable_z_home.cfg]
[include z_calibration.cfg]

[include steppers.cfg]
[include led_breath.cfg]
[include stealthburner_leds.cfg]

[mcu]
canbus_uuid: 601da66c860b

[mcu rpi]
serial: /tmp/klipper_host_mcu

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 9800 # 40000
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: my_thermistor
max_power: 1.0
min_temp: 5
max_temp: 112
pwm_cycle_time: 0.01666667

[verify_heater heater_bed]
max_error: 120
check_gain_time:40
hysteresis: 5
heating_gain: 2

[gcode_macro M81]
gcode:
   {action_call_remote_method("set_device_power",device="SV08",state="off")}

[filament_switch_sensor filament_sensor]
switch_pin: ^PG14
pause_on_runout: False
insert_gcode:
    M117 Filament Insertion Detected
runout_gcode:
    M117 Filament Runout Detected
    PAUSE
    #BEEPC COUNT=4
    #LCDRGB R=1 G=0 B=0  # Turn LCD red
    #BEEP I=12

[filament_motion_sensor filament_motion_sensor]
detection_length: 4.0
extruder: extruder
switch_pin: ^PG15
pause_on_runout: False
insert_gcode:
    M118 🌳 Filament Started Moving... 🌳
    RESPOND TYPE=COMMAND MSG="🌳 Filament Started Moving... 🌳"
runout_gcode:
    RESPOND TYPE=COMMAND MSG="💀💀💀 Filament NOT Moving 💀💀💀"
    M118 💀💀💀 Filament NOT Moving 💀💀💀
    PAUSE
    #BEEPC COUNT=5
    #LCDRGB R=1 G=0 B=0  # Turn LCD red
    #BEEP I=12

[multi_pin octopus_fan_pins]
pins: PA8, PE5

[controller_fan Stepper_Fans]
pin: multi_pin: octopus_fan_pins
stepper: stepper_x, stepper_y, stepper_z
heater:

[controller_fan SSR_Fan]
pin: PD14
cycle_time: 0.05
heater: heater_bed
stepper:
max_power: 0.6

[led main_led]
white_pin: PD15
cycle_time: 0.010
hardware_pwm: True
initial_WHITE: 1.0

[idle_timeout]
timeout: 600
gcode:
  {% if printer.pause_resume.is_paused %}
    M118 Idle timeout while paused, turning off hotend
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  {% else %}
    M118 Idle timeout, turning off heaters and disabling steppers
    TURN_OFF_HEATERS
    M84
  {% endif %}

[temperature_sensor MCU]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor EBB_MCU]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

[temperature_sensor RPi]
sensor_type: temperature_host

[pause_resume]

[exclude_object]

[skew_correction]

[display_status]

[gcode_arcs]
resolution: 1.0

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
shaper_type_x = mzv #zv
shaper_freq_x = 57.8 # max 9800 Bondtech LXG-> 47.8 # max_accel=8900
shaper_type_y = mzv
shaper_freq_y = 40.4 # max 4800 Bondtech LGX-> 35.6 # max_accel=3700

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg
# endstop: 2.259 3.135 2.561 2.3702
# probe: 18.657

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 16.416
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.808
#*# pid_ki = 3.249
#*# pid_kd = 323.230
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.636
#*# pid_ki = 1.058
#*# pid_kd = 100.603
#*#
#*# [stepper_z]
#*# position_endstop = 2.282
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = -0.0021264555348794543
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default_65C]
#*# version = 1
#*# points =
#*# 	  -0.052855, 0.026833, 0.053083, 0.037145, 0.005270, 0.040895, 0.001520, -0.035980, -0.051917
#*# 	  -0.057542, -0.010667, 0.040895, 0.012770, -0.000355, 0.035270, -0.002230, -0.015355, -0.044417
#*# 	  -0.042542, -0.039730, 0.035270, 0.003395, -0.004105, 0.012770, -0.020042, -0.044417, -0.079105
#*# 	  -0.078167, -0.039730, 0.003395, -0.015355, -0.011605, -0.000355, -0.022855, -0.057542, -0.081917
#*# 	  -0.073480, -0.043480, 0.010895, -0.024730, -0.004105, 0.009020, -0.022855, -0.060355, -0.080980
#*# 	  -0.089417, -0.052855, -0.004105, -0.013480, 0.022145, -0.008792, -0.029417, -0.053792, -0.073480
#*# 	  -0.063167, -0.046292, -0.000355, -0.015355, 0.047458, 0.014645, -0.027542, -0.049105, -0.098792
#*# 	  -0.061292, -0.044417, 0.003395, -0.011605, 0.026833, 0.017458, -0.011605, -0.029417, -0.067855
#*# 	  -0.060355, -0.028480, 0.012770, 0.000583, 0.054020, 0.052145, 0.004333, -0.008792, -0.050980
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 1
#*# mesh_y_pps = 1
#*# algo = bicubic
#*# tension = 0.4
#*# min_x = 5.0
#*# max_x = 345.0
#*# min_y = 27.0
#*# max_y = 317.96
