[gcode_macro PREPARE_FOR_PROBING_KAICLID]
gcode:
    M118 Started 🍄 PREPARE_FOR_PROBING_KAICLID 🍄
    DEPLOY_PROBE
    #_undock_kaiclid
    # SAVE_GCODE_STATE NAME=PREPARE_FOR_PROBING_EUCLID
    # G90
    # #G0 X176.0 Y117.5 F6000 ;X200 Y117.5 Z18
    # M400

    # M118 About to move for switch probing
    # G4 P5000
    # G91
    # G0 Z5 F600
    # G90
    # G0 F6000
    # G4 P150
    # RESTORE_GCODE_STATE NAME=PREPARE_FOR_PROBING_EUCLID
    # PLACE_ZEND_STOP_BELOW_EUCLID

# [gcode_macro PREPARE_FOR_PROBING_NOZZLE]
# gcode:
#     SAVE_GCODE_STATE NAME=PREPARE_FOR_PROBING_NOZZLE
#     G91
#     G0 Z3
#     M400
#     G4 P250
#     RESTORE_GCODE_STATE NAME=PREPARE_FOR_PROBING_NOZZLE
#     # PLACE_ZEND_STOP_BELOW_NOZZLE

[gcode_macro _BEGIN_CALIBRATE_Z]
gcode:
    # ASSERT_PROBE_STOWED
    M118 🍄 STARTED z_calibration 🍄
    STOW_PROBE
    #SAVE_GCODE_STATE NAME=_BEGIN_CALIBRATE_Z
    #G90
    #G0 Z15 F600; Z14
    #M400
    #G4 P50
    #RESTORE_GCODE_STATE NAME=_BEGIN_CALIBRATE_Z

[gcode_macro _END_CALIBRATE_Z]
gcode:
     M118 Started 💀💀 _END_CALIBRATE_Z 💀💀
     SAVE_GCODE_STATE NAME=_END_CALIBRATE_Z
     SET_GCODE_OFFSET Z=0.0
     STOW_PROBE
     #_dock_kaiclid
     RESTORE_GCODE_STATE NAME=_END_CALIBRATE_Z

[z_calibration]
nozzle_xy_position:   277.0, 362.25 # A X, Y coordinate (e.g. 100,100) of the nozzle, clicking on the z endstop.
switch_xy_position:   298.05, 354.25 # 306.7, 352.5 # A X, Y coordinate (e.g. 100,100) of the probe's switch body, clicking on the z endstop.
bed_xy_position:      177.5, 177.5 # <X,Y position for probing the bed, for instance the center point - not needed if mesh with zero_reference_position is used>
switch_offset:        1.8433 # 2.043 # 1.856 # Note: Again, the smaller the switch-offset, the further the nozzle is away from the bed!
offset_margins:       -1, 1
safe_z_height:        25.0 # 37.0 # The absolute z position in mm to move to before moving to the next position.
probing_speed:        3.0 # 2.5 # default from "stepper_z:homing_speed" section.
probing_second_speed: 1.5 # 1.0 # default from "stepper_z:second_homing_speed" section.
probing_retract_dist: 3.5 # 10.0 # default from "stepper_z:homing_retract_dist" section.
# start_gcode:          _BEGIN_CALIBRATE_Z # <macro name for attaching the probe>
before_switch_gcode:  DEPLOY_PROBE # PREPARE_FOR_PROBING_KAICLID # <macro name for attaching the probe AFTER probing the nozzle>
end_gcode:            STOW_PROBE # _END_CALIBRATE_Z # <macro name for docking the probe>
speed:                120
#samples:              4
#samples_tolerance:    0.01
#samples_result:       median
